<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>天天酷跑</string>
		<key>icon</key>
		<string>icon_00</string>
	</dict>
	<dict>
		<key>name</key>
		<string>全民飞机大战</string>
		<key>icon</key>
		<string>icon_01</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Flappy Bird</string>
		<key>icon</key>
		<string>icon_02</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天天飞车</string>
		<key>icon</key>
		<string>icon_03</string>
	</dict>
	<dict>
		<key>name</key>
		<string>节奏大师</string>
		<key>icon</key>
		<string>icon_04</string>
	</dict>
	<dict>
		<key>name</key>
		<string>爸爸去哪儿</string>
		<key>icon</key>
		<string>icon_05</string>
	</dict>
	<dict>
		<key>name</key>
		<string>欢乐斗地主</string>
		<key>icon</key>
		<string>icon_06</string>
	</dict>
	<dict>
		<key>name</key>
		<string>天天爱消除</string>
		<key>icon</key>
		<string>icon_07</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神庙逃亡2</string>
		<key>icon</key>
		<string>icon_08</string>
	</dict>
	<dict>
		<key>name</key>
		<string>欢乐麻将</string>
		<key>icon</key>
		<string>icon_09</string>
	</dict>
	<dict>
		<key>name</key>
		<string>保卫萝卜2</string>
		<key>icon</key>
		<string>icon_10</string>
	</dict>
	<dict>
		<key>name</key>
		<string>神偷奶爸</string>
		<key>icon</key>
		<string>icon_11</string>
	</dict>
</array>
</plist>
